body {
    font-family: "Poppins", sans-serif !important;
    font-size: 0.875rem;
    background: linear-gradient(90deg, #f6f8fd 29px, transparent 1%) center,
        linear-gradient(#f6f8fd 29px, transparent 1%) center, #bfc5d3;
    background-size: 30px 30px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
