$primary: #04082c;
$white: #ffffff;
$secondary: #828ea5;
$gray: #f8f9fd;
$custom-colors: (
    "primary": $primary,
    "white": $white,
    "secondary": $secondary,
    "gray": $gray,
);
$font-weight: (
    "light": 200,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
);
